__pycache__/
*.py[cod]
.venv*/
*.log
*.csv
*.mp4
*.png
*.jpg
*.jpeg
evaluation/data/sampled_200/*
!evaluation/data/sampled_200/.gitkeep
!asset/*.png
*.pdf
*.npy
*.npz

outputs/
debug_data/
experiment_data/
checkpoints/
*.safetensors
*.pt
*.pth

.DS_Store
.cache/
