
!asset/*.mp4
!asset/*.png
assets/
.cache/
checkpoints/
*.csv
debug_data/
.DS_Store
evaluation/data/sampled_200/*
!evaluation/data/sampled_200/.gitkeep
experiment_data/
*.jpeg
*.jpg
*.log
*.mp4
*.npy
*.npz
outputs/
*.pdf
*.png
*.pt
*.pth
__pycache__/
*.py[cod]
*.safetensors
static/
_tools/
.venv*/
